In [ ]:
import splink
import pandas as pd
from splink import DuckDBAPI, Linker, SettingsCreator, block_on
import splink.comparison_library as cl
import psycopg2
import splink.comparison_library as cl
from splink.backends.duckdb import DuckDBAPI
import pandas as pd
import splink.comparison_library as cl
from splink import Linker, SettingsCreator, block_on, splink_datasets
from splink.backends.duckdb import DuckDBAPI
import splink.comparison_level_library as cll 


from credentials import host,port,db,user,password

In [2]:

conn = psycopg2.connect(
    host=host,
    port=port,
    dbname=db,
    user=user,
    password=password
)

query = """SELECT * FROM all_properties               
  """

In [3]:

df=pd.read_sql(query, conn)
#reonomy_df = pd.read_sql(query1, conn)
#dbusa_df = pd.read_sql(query2, conn)

C:\Users\jolya\AppData\Local\Temp\ipykernel_12812\1202289363.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query, conn)

In [4]:
df=df.rename(columns={'source_table':'source_dataset'})
df

,id,original_source_id,state,county,city,zip_code,address,longitude,latitude,accessor_parcel_number_raw,...,number_of_buildings,number_of_floors,number_of_units,residential_units,owner_address,property_type,property_subtype,year_built,year_renovated,source_dataset
0,property|9020cc9d6b2143b3264cdbcb9115063e,11140013470322,ak,anchorage,anchorage,99503,3201 c st ste 700,-149.886380,61.191011,None,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
1,property|bb1aefe900bce8fc039ced2c22fa11e2,11132546370298,ak,anchorage,anchorage,99507,1917 abbott rd ste 100,-149.844095,61.139996,None,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
2,property|62785d8927dcc77639ceaf81b1958d7f,11132571569252,ak,anchorage,anchorage,99507,1917 abbott rd ste 101,-149.844095,61.139996,None,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
3,property|d6ea9bd7a57e14686b38932f6f130576,11132547311759,ak,anchorage,anchorage,99507,1917 abbott rd ste 200,-149.844095,61.139996,None,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
4,property|50e15c6392645649f57119a211fba736,11132546915100,ak,anchorage,anchorage,99508,2841 debarr rd ste 100,-149.829296,61.210211,None,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90371,property|5e0b56661b2978f8478f71da0f3ad33e,11132541524554,wy,None,laramie,82072,1277 n 15th st,NaN,NaN,None,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
90372,property|0449c72c7e0bff2ee27e7b54339e934c,11132549969400,wy,None,lusk,82225,900 w 5th st,NaN,NaN,None,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
90373,property|34bf7d8f857adbcc927314c71533a6cf,11140009356498,wy,None,pinedale,82941,6 crossfire rd,NaN,NaN,None,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
90374,property|88b03ec24400e21d12493eb21333c72c,11140032198522,wy,None,sheridan,82801,1333 w 5th st ste 203,NaN,NaN,None,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
90375,property|d82ac41947fd58a775d325f4cf7d5a6d,11132546586958,wy,None,sheridan,82801,135 n gould st,NaN,NaN,None,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa

In [5]:
df.columns

Index(['id', 'original_source_id', 'state', 'county', 'city', 'zip_code',
       'address', 'longitude', 'latitude', 'accessor_parcel_number_raw',
       'block_id', 'census_tract', 'legal_description', 'depth',
       'existing_floor_area_ratio', 'frontage', 'land_area_acres',
       'land_area_sqft', 'total_building_sqft', 'sqft_min', 'sqft_max',
       'land_area_sqft_rounded', 'last_modified_date', 'last_sale_date',
       'last_sale_price_per_sqft', 'last_sale_price_rounded',
       'last_transaction_type', 'neighborhood_name', 'mcd_name', 'msa_name',
       'number_of_buildings', 'number_of_floors', 'number_of_units',
       'residential_units', 'owner_address', 'property_type',
       'property_subtype', 'year_built', 'year_renovated', 'source_dataset'],
      dtype='object')

In [6]:
from splink.blocking_analysis import cumulative_comparisons_to_be_scored_from_blocking_rules_chart
db_api = DuckDBAPI()



prediction_rules = [
     block_on("address"),
    block_on("zip_code"),
    block_on("city","county"),
    block_on("state","city"),
    block_on('city'),
    block_on('county')]
cumulative_comparisons_to_be_scored_from_blocking_rules_chart(
    table_or_tables=df,
    blocking_rules=prediction_rules,
    db_api=db_api,
    link_type="link_and_dedupe",
    source_dataset_column_name='source_dataset',
    unique_id_column_name='original_source_id'
)

alt.Chart(...)

In [7]:


sqft_range_comparison=cl.CustomComparison(output_column_name='within_sqft_area_range',
                                    comparison_levels=[
                                                          cll.CustomLevel(
                                                        sql_condition="""
                                                        (total_building_sqft_l IS NOT NULL AND (sqft_min_r IS NULL OR sqft_max_r IS NULL)) OR
                                                        (total_building_sqft_r IS NOT NULL AND (sqft_min_l IS NULL OR sqft_max_l IS NULL))
                                                        """
                                                    ).configure(is_null_level=True),
                                                        cll.CustomLevel(sql_condition="""
                                                                                    (total_building_sqft_l BETWEEN sqft_min_r AND sqft_max_r) OR
                                                                                    (total_building_sqft_r BETWEEN sqft_min_l AND sqft_max_l)
                                                                                      """),
                                                        cll.CustomLevel(sql_condition="""
                                                                                     (total_building_sqft_l BETWEEN (sqft_min_r * 0.95) AND (sqft_max_r * 1.05)) OR
                                                                                     (total_building_sqft_r BETWEEN (sqft_min_l * 0.95) AND (sqft_max_l * 1.05))
                                                                                      """),
                                                        cll.ElseLevel()
                                                       ]
                                    
                                    )

settings=SettingsCreator( link_type='link_only',#'link_and_dedupe',
                        comparisons=[ cl.LevenshteinAtThresholds("zip_code",[1]).configure(term_frequency_adjustments=True),
                                     #cl.JaroWinklerAtThresholds("address", [0.95, 0.90]).configure(term_frequency_adjustments=True),
                                     cl.LevenshteinAtThresholds("address",[1,2]),
                                     #cl.ExactMatch("address"),
                                     cl.ExactMatch("state"),
                                     cl.ExactMatch("county"),
                                    cl.ExactMatch("city"),
                                    #cl.ExactMatch("zip_code"),
                                    #cl.ExactMatch("latitude","longitude"),
                                    #cl.JaroWinklerAtThresholds('city',[0.9,0.80]).configure(term_frequency_adjustments=True),
                                    cl.DistanceInKMAtThresholds('latitude','longitude',[0.1]),
                                    sqft_range_comparison,
                                    
                                    
                                    ],
                        additional_columns_to_retain=['state','county','city','zip_code','total_building_sqft','sqft_min','sqft_max','source_dataset'],
                        
                        blocking_rules_to_generate_predictions=[block_on("city","county"),block_on("address"),block_on("zip_code")
                                                                
                                                                
                                                                ],
                        retain_matching_columns=True,
                        unique_id_column_name="original_source_id"

                        )

db_api = DuckDBAPI()
linker = Linker(df, settings, db_api=db_api)

linker.training.estimate_u_using_random_sampling(max_pairs=1e7)
print("Done estimating u values")
# linker.training.estimate_parameters_using_expectation_maximisation(block_on("county","city"))
# linker.training.estimate_parameters_using_expectation_maximisation(block_on("zip_code"))
# linker.training.estimate_parameters_using_expectation_maximisation(block_on("address"))
linker.training.estimate_parameters_using_expectation_maximisation(block_on("address"))
linker.training.estimate_parameters_using_expectation_maximisation(block_on("zip_code"))
linker.training.estimate_parameters_using_expectation_maximisation(block_on("city","county"))


print("Done estimating m values")

----- Estimating u probabilities using random sampling -----

Estimated u probabilities using random sampling

Your model is not yet fully trained. Missing estimates for:
    - zip_code (no m values are trained).
    - address (no m values are trained).
    - state (no m values are trained).
    - county (no m values are trained).
    - city (no m values are trained).
    - latitude_longitude (no m values are trained).
    - within_sqft_area_range (no m values are trained).

Done estimating u values

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
l."address" = r."address"

Parameter estimates will be made for the following comparison(s):
    - zip_code
    - state
    - county
    - city
    - latitude_longitude
    - within_sqft_area_range

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:
    - address

Iteration 1: Largest change in params was 0.939 in the m_probability of within_sqft_area_range, level `All other comparisons`
Iteration 2: Largest change in params was 0.016 in the m_probability of zip_code, level `Exact match on zip_code`
Iteration 3: Largest change in params was 0.00518 in the m_probability of latitude_longitude, level `Distance less than 0.1km`
Iteration 4: Largest change in params was -0.000568 in the m_probability of latitude_longitude, level `All other comparisons`
Iteration 5: Largest change in params was 7.48e-05 in the m_probability of latitude_longitude, level `Distance less than 0.1km`

EM converged after 5 iterations

Your model is not yet fully trained. Missing estimates for:
    - address (no m values are trained).

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
l."zip_code" = r."zip_code"

Parameter estimates will be made for the following comparison(s):
    - address
    - state
    - county
    - city
    - latitude_longitude
    - within_sqft_area_range

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:
    - zip_code

WARNING:
Level All other comparisons on comparison state not observed in dataset, unable to train m value

Iteration 1: Largest change in params was 0.968 in the m_probability of address, level `All other comparisons`
Iteration 2: Largest change in params was 0.0261 in probability_two_random_records_match
Iteration 3: Largest change in params was 0.0152 in probability_two_random_records_match
Iteration 4: Largest change in params was 0.00107 in probability_two_random_records_match
Iteration 5: Largest change in params was -0.000144 in the m_probability of latitude_longitude, level `All other comparisons`
Iteration 6: Largest change in params was 0.00754 in the m_probability of within_sqft_area_range, level `
                                                                                     (total_building_sqft_l BETWEEN (sqft_min_r * 0.95) AND (sqft_max_r * 1.05)) OR
                                                                                     (total_building_sqft_r BETWEEN (sqft_min_l * 0.95) AND (sqft_max_l * 1.05))
                                                                                      `
Iteration 7: Largest change in params was 0.000204 in the m_probability of county, level `All other comparisons`
Iteration 8: Largest change in params was -1.07e-05 in the m_probability of county, level `Exact match on county`

EM converged after 8 iterations
m probability not trained for state - All other comparisons (comparison vector value: 0). This usually means the comparison level was never observed in the training data.

Your model is fully trained. All comparisons have at least one estimate for their m and u values

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
(l."city" = r."city") AND (l."county" = r."county")

Parameter estimates will be made for the following comparison(s):
    - zip_code
    - address
    - state
    - latitude_longitude
    - within_sqft_area_range

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:
    - county
    - city

WARNING:
Level Exact match on address on comparison address not observed in dataset, unable to train m value

Iteration 1: Largest change in params was -0.691 in the m_probability of zip_code, level `Exact match on zip_code`
Iteration 2: Largest change in params was 0.361 in the m_probability of zip_code, level `All other comparisons`
Iteration 3: Largest change in params was 0.134 in probability_two_random_records_match
Iteration 4: Largest change in params was 0.00739 in probability_two_random_records_match
Iteration 5: Largest change in params was 0.000305 in probability_two_random_records_match
Iteration 6: Largest change in params was 1.24e-05 in probability_two_random_records_match

EM converged after 6 iterations
m probability not trained for address - Exact match on address (comparison vector value: 3). This usually means the comparison level was never observed in the training data.

Your model is fully trained. All comparisons have at least one estimate for their m and u values

Done estimating m values

In [8]:
df_predictions = linker.inference.predict(threshold_match_probability=0.90)

Blocking time: 0.68 seconds
Predict time: 3.46 seconds

In [9]:
#df_predictions.as_pandas_dataframe(limit=1000).columns
preds=df_predictions.as_pandas_dataframe(limit=100000)[['match_weight','match_probability','original_source_id_l','original_source_id_r','zip_code_l','zip_code_r','address_l','address_r','latitude_l','latitude_r','longitude_l','longitude_r','total_building_sqft_l','total_building_sqft_r','sqft_min_l','sqft_min_r','sqft_max_l','sqft_max_r','source_dataset_l','source_dataset_r']]

In [10]:
preds.shape

(100000, 20)

In [11]:
preds.sample(20)
# preds.shape

,match_weight,match_probability,original_source_id_l,original_source_id_r,zip_code_l,zip_code_r,address_l,address_r,latitude_l,latitude_r,longitude_l,longitude_r,total_building_sqft_l,total_building_sqft_r,sqft_min_l,sqft_min_r,sqft_max_l,sqft_max_r,source_dataset_l,source_dataset_r
70414,13.996752,0.999939,11132549916966,3e6f8813-6130-4ea9-b6de-c39c52e44c3b,84116,84116,1025 w north temple,5742 w harold gatty dr,NaN,40.782659,NaN,-112.029997,NaN,236365.0,NaN,NaN,NaN,NaN,dbusa,reonomy
51737,14.849770,0.999966,11140022120970,40c968d8-646d-4e26-9e27-764ae58bee5e,98005,98007,11711 se 8th st ste 315,15419 ne 20th st,47.601720,47.627568,-122.185540,-122.134287,NaN,24132.0,0.0,NaN,999.0,NaN,dbusa,reonomy
5048,14.849770,0.999966,11132568745885,33bcdde3-2deb-40db-bcd7-9fff6aad93b9,78701,78731,114 w 7th st ste 800,5515 balcones dr,30.269353,30.336549,-97.743314,-97.757265,NaN,27274.0,1000.0,NaN,4999.0,NaN,dbusa,reonomy
5282,5.988258,0.984492,11132547842487,4857e5f7-1a6f-4539-b60d-0b4962fc55f1,78759,78731,11149 research blvd ste 350,5508 parkcrest dr,30.407270,30.337140,-97.744076,-97.759274,NaN,54768.0,10000.0,NaN,49999.0,NaN,dbusa,reonomy
90640,14.849770,0.999966,11132555129840,2ce6f320-67f8-4e1c-9958-f7a2f393ee07,10032,10030,23 fort washington ave,169 w 133rd st,40.836052,40.813952,-73.945002,-73.943917,NaN,10385.0,0.0,NaN,999.0,NaN,dbusa,reonomy
31783,5.988258,0.984492,11132547242036,6db72cbb-c7ac-4c50-b0ea-eb8c5f00637a,77024,77030,9055 katy fwy ste 200,2130 w holcombe blvd,29.783487,29.706567,-95.512239,-95.406340,NaN,704249.0,10000.0,NaN,49999.0,NaN,dbusa,reonomy
70391,13.774360,0.999929,11132549023792,e6983488-fee9-4c84-995e-1b3beb3560f1,76710,76710,5000 sanger ave,501 towne oaks dr,NaN,31.525040,NaN,-97.178890,NaN,10650.0,NaN,NaN,NaN,NaN,dbusa,reonomy
31886,5.988258,0.984492,11140022425750,6db72cbb-c7ac-4c50-b0ea-eb8c5f00637a,77063,77030,9900 westpark dr ste 318,2130 w holcombe blvd,29.721082,29.706567,-95.535889,-95.406340,NaN,704249.0,0.0,NaN,999.0,NaN,dbusa,reonomy
80157,13.122283,0.999888,11132551256839,854bcc4f-5114-43f3-b963-6934b21a63dc,98908,98908,506 n 40th ave ste 101,506 n 40th ave,NaN,46.606107,NaN,-120.562544,NaN,14742.0,NaN,NaN,NaN,NaN,dbusa,reonomy
22050,5.988258,0.984492,11132547157053,e54763f0-6d57-4c6a-8fd9-eb6a224679fd,77008,77054,1631 north loop w ste 640,8111 n stadium dr,29.812168,29.690774,-95.430267,-95.407349,NaN,17496.0,1000.0,NaN,4999.0,NaN,dbusa,reonomy
20570,5.988258,0.984492,11132549928504,25b762a3-b91a-4d89-a050-a1044418fce8,77024,77055,9525 katy fwy ste 217,9230 katy fwy,29.782691,29.785404,-95.527905,-95.519598,NaN,180725.0,0.0,NaN,999.0,NaN,dbusa,reonomy
97912,5.988258,0.984492,11132546044759,03fdc0d7-42de-4a8f-becf-92ff40d0d374,10007,10019,1 world trade ctr fl 65,539 w 54th st,40.713680,40.768125,-74.008450,-73.991598,NaN,30210.0,5000.0,NaN,9999.0,NaN,dbusa,reonomy
55743,14.849770,0.999966,11140021720938,6cd1d52c-f960-4366-a4f3-b1743484365a,98006,98005,13555 se 36th st ste 260,2320 130th ave ne,47.578697,47.630746,-122.159287,-122.165132,NaN,27016.0,1000.0,NaN,4999.0,NaN,dbusa,reonomy
66825,23.858278,1.000000,11140014734940,3d5ac7f0-5846-40d8-876f-36ce95a279c3,81501,81501,790 wellington ave,790 wellington ave,NaN,39.090382,NaN,-108.558427,NaN,29454.0,NaN,NaN,NaN,NaN,dbusa,reonomy
74818,13.122283,0.999888,11132541947000,5e0a48f4-d556-4e46-be87-a4a97d7c9944,24073,24073,10 hickok st ste 102,190 depot st w,NaN,37.130336,NaN,-80.414386,NaN,22868.0,NaN,NaN,NaN,NaN,dbusa,reonomy
79470,9.895214,0.998951,11132569812696,b17787a2-2191-40ca-b98f-0d0cea3806e5,22182,22182,8230 boone blvd ste 200,8230 leesburg pike,NaN,38.918093,NaN,-77.229350,NaN,86643.0,NaN,NaN,NaN,NaN,dbusa,reonomy
75512,11.537320,0.999664,11132544255738,3270883c-675b-428c-bec0-e09576812d02,23320,23320,638 independence pkwy ste 250,1101 madison plz,NaN,36.760514,NaN,-76.251623,NaN,14141.0,NaN,NaN,NaN,NaN,dbusa,reonomy
64070,5.988258,0.984492,11132546577261,8094cdba-0553-4c97-bb05-e27821f28ef5,53792,53717,600 highland ave,202 s gammon rd,43.077281,43.064076,-89.430486,-89.503620,NaN,34552.0,50000.0,NaN,inf,NaN,dbusa,reonomy
57049,5.988258,0.984492,11140016577401,6d97442e-fee5-4ca8-8f04-bff671bbffc3,98133,98121,1207 n 200th st ste 214b,2200 westlake ave,47.773826,47.617989,-122.344026,-122.337455,NaN,188277.0,0.0,NaN,999.0,NaN,dbusa,reonomy
3674,6.444758,0.988650,11132547516882,aa603bfa-b9ce-4397-b524-f2be404895d4,77030,77079,6400 fannin st ste 1400,11511 katy fwy,29.714605,29.783663,-95.397294,-95.586306,NaN,80741.0,50000.0,NaN,inf,NaN,dbusa,reonomy

In [12]:
df_clusters = linker.clustering.cluster_pairwise_predictions_at_threshold(
    df_predictions, threshold_match_probability=0.97
)
df_clusters=df_clusters.as_pandas_dataframe()
df_clusters.sample(15)

Completed iteration 1, num representatives needing updating: 3747
Completed iteration 2, num representatives needing updating: 7524
Completed iteration 3, num representatives needing updating: 50
Completed iteration 4, num representatives needing updating: 130
Completed iteration 5, num representatives needing updating: 1
Completed iteration 6, num representatives needing updating: 8
Completed iteration 7, num representatives needing updating: 0

,cluster_id,id,original_source_id,state,county,city,zip_code,address,longitude,latitude,...,number_of_buildings,number_of_floors,number_of_units,residential_units,owner_address,property_type,property_subtype,year_built,year_renovated,source_dataset
63518,reonomy-__-517a4738-dbde-44ef-8123-4b4b972ec7e6,property|7c363197bf24ee2c3cb144315cb589f6,517a4738-dbde-44ef-8123-4b4b972ec7e6,oh,monroe,woodsfield,43793,37950 airport rd,-81.133436,39.765177,...,1.0,NaN,NaN,NaN,2727 LYNDON B JOHNSON FWY 806,office,medical building,2004.0,2004.0,reonomy
20468,dbusa-__-11132542553858,property|5f046101e10502455657079af2cacbb2,db536641-b6d3-4205-acde-db4a4fe532be,fl,polk,lakeland,33813,5050 s florida ave,-81.959899,27.973935,...,1.0,1.0,1.0,NaN,5050 S FLORIDA AVE 1,office,medical building,1975.0,1993.0,reonomy
86321,dbusa-__-11132541649256,property|3cfb3abf6cf417ef81e8008ed40279f5,11132567964678,va,None,sterling,20165,6 pidgeon hill dr,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
74209,dbusa-__-11132542212904,property|50fbb8553456602e32dd7918c6afca73,11132544421396,tn,None,franklin,37067,9100 carothers pkwy ste a107,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
83774,dbusa-__-11132541641646,property|934346e02d3a8b632d56877c34a243f8,11140025156682,ut,None,salt lake city,84102,1333 e 400 s,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
86798,dbusa-__-11132541650257,property|5cd228121fc94fffb0e583c45e98e76f,75d06b72-bf00-491b-b65a-c307f3357200,wa,king,bellevue,98005,1 lake bellevue dr,-122.180052,47.619736,...,1.0,2.0,NaN,NaN,1 LAKE BELLEVUE DR,office,office building,1974.0,2000.0,reonomy
27379,dbusa-__-11132541578672,property|88be3cf981b02308767a3168115e85b2,11132541578672,ga,None,fort stewart,31314,192 lindquist rd,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
63958,dbusa-__-11132546385528,property|c0d5a2250317af11856f720c546673e9,26ec0e1d-e2b6-41c9-b063-76a418781e71,oh,warren,mason,45040,9600 children dr,-84.310775,39.298457,...,1.0,1.0,NaN,NaN,3333 BURNET AVE,office,medical building,1996.0,1996.0,reonomy
25080,dbusa-__-11132542990984,property|f86e11da594ff02bb56ddb5329f105d0,11140033820715,fl,None,winter park,32792,2431 aloma ave ste 124,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
59054,dbusa-__-11140001355212,property|6d14244afd24b129b01e84a051e15568,11140001355212,ny,westchester,pleasantville,10570,60 washington ave,-73.791992,41.136322,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
40103,dbusa-__-11132549218423,property|960f9a6bf86f4e7655c88d6be48cb202,11132549218423,ma,None,north easton,02356,174 washington st,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
2238,dbusa-__-11132541489177,property|68fdf103764ca03a273953050ca311e2,6b6cb637-f13e-4012-9a35-d50aec1ae0f2,az,maricopa,phoenix,85018,3125 n 32nd st,-112.012571,33.485292,...,2.0,2.0,2.0,2.0,3125 N 32ND ST,office,medical building,1986.0,1992.0,reonomy
28947,dbusa-__-11132541696314,property|087611cbfac0468178ae8e4c500af133,11132573415080,ia,linn,cedar rapids,52402,5264 council st ne ste 800,-91.656572,42.031039,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
58337,dbusa-__-11132550621192,property|e6dbf925c1c683a96194cdc936b542ab,11132550621192,ny,saint lawrence,potsdam,13676,33 main st,-74.983552,44.668334,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa
73528,dbusa-__-11132542252207,property|7cc99160ede98bd9abe373f139bc949a,11140003427900,tn,maury,spring hill,37174,5073 main st,-86.919547,35.767047,...,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,dbusa

In [13]:
result=df_clusters[['cluster_id','id']]

In [14]:
result.head(10)

                cluster_id                                         id
0  dbusa-__-11132542833351  property|9020cc9d6b2143b3264cdbcb9115063e
1  dbusa-__-11132544299877  property|bb1aefe900bce8fc039ced2c22fa11e2
2  dbusa-__-11132544299877  property|62785d8927dcc77639ceaf81b1958d7f
3  dbusa-__-11132544299877  property|d6ea9bd7a57e14686b38932f6f130576
4  dbusa-__-11132541633267  property|50e15c6392645649f57119a211fba736
5  dbusa-__-11132541633267  property|9b9c7dc4ef5473355657c3d51e9e298c
6  dbusa-__-11132541633267  property|430b0e80a1552341d0268582c8eb9685
7  dbusa-__-11132541633267  property|3d7248eb94aa8828b42848dff7af9629
8  dbusa-__-11132541633267  property|b632d2ae2c3957c6c115d7399f16c576
9  dbusa-__-11132541633267  property|45fb47b86d76bb06ee6ea401960267e5

In [15]:
import io
with conn.cursor() as curs:
    curs.execute("DROP TABLE IF EXISTS matched_properties")  
    curs.execute("CREATE TABLE IF NOT EXISTS matched_properties( cluster_id text, id text)")
    buffer = io.StringIO()
    
    result.to_csv(buffer, index=False, header=False)
    
    buffer.seek(0)

    copy_sql = f"""
        COPY matched_properties ("cluster_id","id") 
        FROM STDIN WITH (FORMAT CSV)
    """

    curs.copy_expert(sql=copy_sql, file=buffer)
    
    conn.commit()
    print("Copy complete.")

Copy complete.